@model DashboardAgendaVM

<div class="card bg-light mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                @Model.Title
                <br />
                <small class="form-text text-muted">@Model.CreatedAt.ToString("dd MMMM, yyyy")</small>
            </div>
            <div style="margin:auto" class="col text-right">
                <span><i class="fas fa-cogs fa-lg"></i></span>
            </div>
        </div>
    </div>
    <div class="card-body">

        @if (Model.Deadline != null)
        {
            <h5 class="card-title">Deadline: @Model.Deadline</h5>
        }

        @foreach (var category in Model.Categories.OrderBy(o => o.Title))
        {
            <p class="lead">@category.Title</p>
            @foreach (var item in category.Items)
            {
                if (item.Completed)
                {
                    <div class="form-group form-check">
                        <input checked type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label style="text-decoration:line-through;" class="form-check-label" for="exampleCheck1">@item.Description</label>
                    </div>
                }
                else
                {
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label class="form-check-label" for="exampleCheck1">@item.Description</label>
                    </div>
                }
            }
        }

        <hr />
        <div>
            <p class="lead">@String.Format($"{Model.CompletedItemsCount} / {Model.TotalItemsCount}")</p>
        </div>

    </div>
</div>