@model DashboardAgendaVM

<div class="card bg-light mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                @Model.Title
                <br />
                <small class="form-text text-muted">@Model.CreatedAt.ToString("d MMMM, yyyy")</small>
            </div>
            <div style="margin:auto" class="col text-right">
                <a asp-controller="Agenda" asp-action="Edit" asp-route-id="@Model.Id" class="gear-icon-link"><i class="fas fa-cogs fa-lg"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">

        @if (Model.Deadline != null)
        {
            <h5 class="card-title">Deadline: @Model.Deadline.Value.ToString("d MMMM, yyyy")</h5>
            <hr />
        }

        @foreach (var category in Model.Categories.OrderBy(o => o.Title))
        {
            <p class="lead">@category.Title</p>
            @foreach (var item in category.Items)
            {
                if (item.Completed)
                {
                    <div class="form-group form-check">
                        <input checked type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label style="text-decoration:line-through;" class="form-check-label" for="exampleCheck1">@item.Description</label>
                    </div>
                }
                else
                {
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label class="form-check-label" for="exampleCheck1">@item.Description</label>
                    </div>
                }
            }
        }

        @if (Model.TotalItemsCount > 0)
        {
            <hr />
            <div>
                <p class="lead lead-no-margin">@String.Format($"{Model.CompletedItemsCount} / {Model.TotalItemsCount}")</p>
            </div>
        }
        else
        {
            <a asp-controller="Agenda" asp-action="Edit" asp-route-id="@Model.Id">Add items now</a>
        }

    </div>
</div>