@model DashboardAgendaVM

<div class="card bg-light mt-3">
    <div class="card-header">
        <div class="agenda-card-header">
            <div>
                <h3>@Model.Title</h3>
                <small class="form-text text-muted">Created @Model.CreatedAt.ToString("d MMMM, yyyy")</small>
            </div>
            <a asp-controller="Agenda" asp-action="Edit" asp-route-id="@Model.Id" class="gear-icon-link"><i class="fas fa-cogs fa-lg"></i></a>
        </div>
    </div>
    <div class="card-body">

        @if (Model.Deadline.HasValue)
        {
            <h6 class="card-title"><span><i class="far fa-clock"></i></span> @Model.Deadline.Value.ToString("d MMMM, yyyy")</h6>
            <hr />
        }

        @foreach (var category in Model.Categories.OrderBy(o => o.Title))
        {
            @if (!String.Equals(category.Title, "None"))
            {
                <p class="lead">@category.Title</p>
            }
            @foreach (var item in category.Items)
            {
                if (item.Completed)
                {
                    <div class="form-group form-check item-checkbox-container">
                        <input checked type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label style="text-decoration:line-through;" class="form-check-label checked-item">@item.Description</label>
                    </div>
                }
                else
                {
                    <div class="form-group form-check item-checkbox-container">
                        <input type="checkbox" class="form-check-input item-checkbox" id="@item.Id">
                        <label class="form-check-label">@item.Description</label>
                    </div>
                }
            }
        }

        @if (Model.TotalItemsCount > 0)
        {
            <hr />
            <div class="agenda-card-footer">
                <p class="lead lead-no-margin">@String.Format($"{Model.CompletedItemsCount} / {Model.TotalItemsCount}")</p>
                <a asp-controller="Agenda" asp-action="Archive" asp-route-id="@Model.Id" role="button" class="btn btn-outline-warning">Archive</a>
            </div>
        }
        else
        {
            <a asp-controller="Agenda" asp-action="Edit" asp-route-id="@Model.Id">Add items now</a>
        }

    </div>
</div>